// Customize checkbox icon
.checkbox input[type=checkbox]:checked + label:after,
.radio input[type=checkbox]:checked + label:after {
  @include fa-icon();
  font: normal normal normal 14px/1 FontAwesome !important; 
  content: $fa-var-check;
}

.site-logo {
  margin-right: 10px;
}
